body {
    background-color: black;
    color: white;
}
@font-face {
    font-family: "Momo";
    src: url("/fonts/MomoTrustDisplay-Regular.ttf") format("truetype");
}
* {
    margin: 0px;
    padding: 0px;
}
.open {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding-inline: 10px;
    border-radius: 18px;
    padding: 4px 6px;
    border: 1px solid transparent;
}
.opendoc {
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 2px -1px;
}
.tresmenu {
    padding: 4px;
}
.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inicio {
    display: flex;
    background-color: black;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu {
    background-color: rgb(5, 0, 5);
    display: none;
}
.lista {
    padding-top: 10px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lista a {
    background-color: rgba(27, 1, 22, 0.479);
    border-radius: 5px;
    color: rgb(0, 238, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
    padding: 10px;
    width: 100%;
}
.lista a:hover {
    text-decoration: underline;
}

.menu .open {
    align-self: flex-end;
    margin-top: 40%;
    background-color: rgb(34, 4, 34);
    align-self: center;

}
.h {
    text-align: center;
    padding-bottom: 10px;
}

#fecha {
    display: none;
}

section {
    background-color: black;
    padding: 40px 10px;
    text-align: center;
}
.titulo {
    line-height: 40px;
    font-family: "Momo";
    font-size: xx-large;
}