body {
    background-color: black;
    color: white;
}
@font-face {
    font-family: "Momo";
    src: url("/fonts/MomoTrustDisplay-Regular.ttf") format("truetype");
}
* {
    margin: 0px;
    padding: 0px;
}
.open {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding-inline: 10px;
    border-radius: 18px;
    padding: 4px 6px;
    border: 1px solid transparent;
}
.opendoc {
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 2px -1px;
}
.tresmenu {
    padding: 4px;
}
.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inicio {
    display: flex;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.menu {
    background-color: rgb(5, 0, 5);
    display: none;
}
.lista {
    padding-top: 30px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
}
.lista a {
    border-radius: 5px;
    color: rgb(0, 238, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 8px 20px;
    padding: 10px;
    width: 100%;
}
.lista a:hover {
    text-decoration: underline;
}

.menu .open {
    align-self: flex-end;
    margin-top: 10px;
    background-color: rgb(34, 4, 34);
    align-self: center;

}
.h {
    text-align: center;
    padding-bottom: 10px;
}

#fecha {
    display: none;
}
main {
    height: 100vh;
    overflow-y: auto;
}
section {
    padding: 40px 10px;
    background-color: black;
}
.titulo {
    text-align: center;
    padding-bottom: 20px;
    line-height: 40px;
    font-family: "Momo";
    font-size: xx-large;
}

.html {
    background-color: rgba(238, 234, 213, 0.116);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.html a {
    color: rgb(15, 11, 11);
    background-color: rgb(240, 178, 10);
    border: 1px solid transparent;
}
    
a{
    font-family: "Momo";
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
}
.cssi {
    background-color: rgba(0, 0, 255, 0.534);
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.cssi a {
    color: white;
    background-color: rgb(42, 12, 124);
    border: 1px solid white;
}
.javascript {
    background-color: gold;
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.javascript a {
    color: white;
    background-color: black;
    border: 1px solid rgb(170, 147, 19);
}
.tailwind {
    background-color: purple;
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.tailwind a {
    color: black;
    background-color: azure;
    border: 1px solid white;
}
.react {
    background-color: rgb(0, 51, 128);
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.react a {
    color: black;
    background-color: rgb(3, 211, 200);
    border: 1px solid rgb(5, 148, 214);
}
.vue {
    background-color: rgb(0, 128, 64);
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.vue a {
    color: white;
    background-color: green;
    border: 1px solid transparent;
}
.angular {
    background-color: rgb(128, 0, 11);
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
}
.angular a{color: black;
    background-color: rgb(245, 39, 7);
    border: 1px solid transparent}

/*LISTA DE MENU*/
.hl {
    background-color: rgba(238, 234, 213, 0.116);
}
.c {
    background-color:  rgba(0, 0, 255, 0.534);
}
.j {
    background-color: rgb(66, 57, 3);
    color: black;
}
.t {
    background-color: purple;
}
.r {
    background-color: rgb(0, 51, 128);
    color: black;
}
.v {
    background-color: rgb(0, 128, 64);
    color: white;
}
.an {
    background-color: rgb(128, 0, 11);
    color: black;
} 