body {
    background-color: black;
    color: white;
}
* {
    margin: 0px;
    padding: 0px;
}
.open {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding-inline: 10px;
    border-radius: 18px;
    padding: 4px 6px;
    border: 1px solid transparent;
}
.opendoc {
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 2px -1px;
}
.tresmenu {
    padding: 4px;
}
.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 1px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu {
    
    background-color: rgb(5, 0, 5);
    min-height: 100vh;
}
.lista {
    padding-top: 60px;
    padding-inline: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lista a {
    background-color: rgb(15, 0, 15);
    border-radius: 5px;
    color: rgb(0, 238, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    padding: 8px;
    width: 100%;
}
.lista a:hover {
    text-decoration: underline;
}

.menu .open {
    align-self: flex-end;
    margin-top: 70%;
    background-color: rgb(34, 4, 34);
}
.h {
    text-align: center;
    padding-bottom: 10px;
}