body {
    background-color: whitesmoke;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container1 {
    border-radius: 12px;
    padding: 20px;
    margin-inline: 10px;
    background-color: rgb(9, 6, 10);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edemo {
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 2px -1px;
    margin: 20px;
}
.forma {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.entrar {
    margin: 20px;
}

input {
    margin: 5px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.titulo {
    margin: 15px;
    font-size: large;
}
.endreso {
    text-align: left;
    margin-bottom: 3px;
}
.input_email {
    padding: 4px;
    font-weight: bold;
    border-radius: 10px;
}
.input_submit {
    font-size: 15px;
    width: 100px;
    margin-top: 10px;
    color: white;
    border-radius: 8px;
    background-color: blue;
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
}
.ou {
    margin: 15px;
}
.lista {
    width: 100%;
    background-color: whitesmoke;
    margin: 5px;
    padding: 5px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-inline: 10px;
    box-shadow: 0px 2px -1px 0px;
    cursor: pointer;
}
.lista h4 {
    align-self: flex-start;
}

.seguinte {
    display: none;
}